<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>servletD</servlet-name>
        <servlet-class>servletD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Unit3Practical1</servlet-name>
        <servlet-class>Unit3Practical1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Unit3Practical2</servlet-name>
        <servlet-class>Unit3Practical2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Unit3Practical3</servlet-name>
        <servlet-class>Unit3Practical3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Unit3Practical4</servlet-name>
        <servlet-class>Unit3Practical4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Unit3Practical5</servlet-name>
        <servlet-class>Unit3Practical5</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletD</servlet-name>
        <url-pattern>/servletD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Unit3Practical1</servlet-name>
        <url-pattern>/Unit3Practical1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Unit3Practical2</servlet-name>
        <url-pattern>/Unit3Practical2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Unit3Practical3</servlet-name>
        <url-pattern>/Unit3Practical3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Unit3Practical4</servlet-name>
        <url-pattern>/Unit3Practical4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Unit3Practical5</servlet-name>
        <url-pattern>/Unit3Practical5</url-pattern>
    </servlet-mapping>
</web-app>
